In [1]:
import csv
import pickle
import random
import networkx as nx

In [13]:
import pandas as pd
import numpy as np

In [14]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
import math

# Read in Raw Data

In [37]:
d = {}
with open("./train.txt", 'r') as f:
    reader = csv.reader(f, delimiter="\t")
    
    for line in reader:
        entry = list(map(int, line))
        d[entry[0]] = entry[1:]

# Create the Graph

In [3]:
# https://stackoverflow.com/questions/26665799/networkx-adding-edges-to-a-graph-from-a-dictionary-with-lists-as-values
G = nx.Graph(d)

In [ ]:
# test node - 1933312
print(list(nx.bfs_edges(G,0)))

In [5]:
d[1933312][:5]

[3025121, 3392171, 3542411, 38814, 1348407]

# Feature generation

## Katz

# Toy Example

In [7]:
d = {}
d[1] = [2,3,4,5,7]
d[2] = [8]
d[3] = [4]
d[4] = [5]
d[6] = [1]
d[8] = [9, 11]

 

toy_G = nx.DiGraph(d)

In [10]:
phi = (1+math.sqrt(5))/2.0 # largest eigenvalue of adj matrix 
centrality = nx.katz_centrality(toy_G,1/phi-0.01)

In [11]:
for n,c in sorted(centrality.items()): 
    print("%d %0.2f"%(n,c))

1 0.21
2 0.26
3 0.26
4 0.42
5 0.52
6 0.13
7 0.26
8 0.29
9 0.31
11 0.31

In [14]:
toy_G = nx.Graph(d)

In [23]:
test_list = []

for key, val in d.items():
    for node in val:
        test_list.append((key, node))

In [24]:
test_list

[(1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 7),
 (2, 8),
 (3, 4),
 (4, 5),
 (6, 1),
 (8, 9),
 (8, 11)]

In [25]:
jc = list(nx.jaccard_coefficient(toy_G, test_list))

In [26]:
jc

[(1, 2, 0.0),
 (1, 3, 0.14285714285714285),
 (1, 4, 0.2857142857142857),
 (1, 5, 0.14285714285714285),
 (1, 7, 0.0),
 (2, 8, 0.0),
 (3, 4, 0.25),
 (4, 5, 0.25),
 (6, 1, 0.0),
 (8, 9, 0.0),
 (8, 11, 0.0)]

In [27]:
ra = list(nx.resource_allocation_index(toy_G, test_list))

In [28]:
ra

[(1, 2, 0),
 (1, 3, 0.3333333333333333),
 (1, 4, 1.0),
 (1, 5, 0.3333333333333333),
 (1, 7, 0),
 (2, 8, 0),
 (3, 4, 0.16666666666666666),
 (4, 5, 0.16666666666666666),
 (6, 1, 0),
 (8, 9, 0),
 (8, 11, 0)]

In [30]:
cn = [(e[0], e[1], len(list(nx.common_neighbors(toy_G,e[0], e[1])))) for e in test_list]

In [31]:
cn

[(1, 2, 0),
 (1, 3, 1),
 (1, 4, 2),
 (1, 5, 1),
 (1, 7, 0),
 (2, 8, 0),
 (3, 4, 1),
 (4, 5, 1),
 (6, 1, 0),
 (8, 9, 0),
 (8, 11, 0)]

# Adding the features

In [32]:
import pandas as pd
import numpy as np

In [33]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [36]:
import pickle

In [34]:
df = pd.read_csv('./finaldata/crawled_50k.csv')

In [35]:
df.head()

    Source     Sink  Connected
0  1933312  3025121          1
1  3025121  3178930          1
2  3178930  1250191          1
3  3178930  4358590          1
4  3178930   854764          1

In [43]:
source = [i for i in df['Source']]
sink = [i for i in df['Sink']]

In [48]:
train_pairs = [i for i in zip(source,sink)]
train_pairs[:5]

[(1933312, 3025121),
 (3025121, 3178930),
 (3178930, 1250191),
 (3178930, 4358590),
 (3178930, 854764)]

## Compute the metrics

In [51]:
jc = list(nx.jaccard_coefficient(G, train_pairs))

In [53]:
ra = list(nx.resource_allocation_index(G, train_pairs))

In [55]:
aa = list(nx.adamic_adar_index(G, train_pairs))

In [66]:
pa = list(nx.preferential_attachment(G, train_pairs))

In [67]:
cn = [(e[0], e[1], len(list(nx.common_neighbors(G,e[0], e[1])))) for e in train_pairs]

In [ ]:
phi = (1+math.sqrt(5))/2.0 # largest eigenvalue of adj matrix 
centrality = nx.katz_centrality(toy_G,1/phi-0.01)

In [ ]:
J.in_degree(1933312)

In [54]:
len(ra)

50368

In [64]:
df['Jaccard'] = [x[2] for x in jc]

In [73]:
df['Resource Allocation']= [x[2] for x in ra]

In [74]:
df['Adamic Adar'] = [x[2] for x in aa]

In [75]:
df['Preferential Attachment'] = [x[2] for x in pa]

In [76]:
df['Common Neighbours'] = [x[2] for x in cn]

In [77]:
df.head()

,Source,Sink,Connected,Jaccard,Resource Allocation,Adamic Adar,Preferential Attachment,Common Neighbours
0,1933312,3025121,1,0.013393,0.211661,2.150558,86870,9
1,3025121,3178930,1,0.022556,0.105732,2.245444,16863,12
2,3178930,1250191,1,0.027778,0.000972,0.144168,132,1
3,3178930,4358590,1,0.000000,0.000000,0.000000,33,0
4,3178930,854764,1,0.000000,0.000000,0.000000,33,0

In [72]:
cn[:5]

[(1933312, 3025121, 9),
 (3025121, 3178930, 12),
 (3178930, 1250191, 1),
 (3178930, 4358590, 0),
 (3178930, 854764, 0)]

In [ ]:
df.head()

### Using the diGraph to calculate the other features

In [ ]:
f=open('./finaldata/di_graph.pickle')
diG = pickle.load(f)

In [ ]:
#calculate shortest distance; and if there is no shortest distance i decided to put in 10
sp = []
for (x,y) in train_pairs:
    try:
        sp.append(nx.shortest_path_length(J, x, y))
    except:
        sp.append(10)

sp

In [18]:
df = pd.read_csv('./finaldata/train_60k.csv')

In [19]:
df.head()

,Source,Sink,SourceInDegree,SourceOutDegree,SinkInDegree,SinkOutDegree,CommonNeighbors,Jaccard,ResourceAlloc,AdamicAdar,PrefAttach,ShortestPath,N2V_dotprod,Connected
0,1933312,3025121,19,167,189,381,9,0.013393,0.211661,2.150558,86870,1,0.285623,1
1,3025121,3178930,189,381,11,24,12,0.022556,0.105732,2.245444,16863,1,0.537538,1
2,3178930,1250191,11,24,4,0,1,0.027778,0.000972,0.144168,132,1,0.348508,1
3,3178930,4358590,11,24,1,0,0,0.000000,0.000000,0.000000,33,1,-0.055040,1
4,3178930,854764,11,24,1,0,0,0.000000,0.000000,0.000000,33,1,0.235348,1